/* Header Style Css */
.header-login,
.header-welcome {
  position: relative;
  .navbar-welcome,
  .navbar-login {
    position: relative;

    /* Navigation Menu */
    nav {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1;
    }
  }
}

header {
  @include hiWidth;
}