/* Style Css main User Page */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 320px;
  background-color: lightskyblue;
}

.sidebar-img-box {
  position: relative;
  box-sizing: border-box;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  height: 180px;
  img {
    width: 180px;
    height: 180px;
    object-fit: cover;
  }
  .change-img {
    position: absolute;
    bottom: 2%;
    left: 50%;
    -moz-transform: translate(-50%, -98%);
    -ms-transform: translate(-50%, -98%);
    -o-transform: translate(-50%, -98%);
    transform: translate(-50%, -98%);
    opacity: 1;
    color: white;
    z-index: 10;
    cursor: pointer;
  }
}

#profil-container {
  margin-left: 320px;
}