/* Style Welcome Page  */

/* Image Background */
.img-welcome {
  @include hiWidth;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  img {
    @include hiWidth;
    object-fit: cover;
  }
}

.main-content {
  @include hiWidth;
  .center-register {
    @include centerTranslate;
  }
}


.center-register {
  @include centerTranslate;
}


.welcome-text {
  color: $white;
}

#form-login {
  h2 {
    color: $white;
    margin-bottom: 1em;
    text-shadow: 3px 3px 3px #000000;
  }
}

.form-register,
.form-login{
  background-color: rgba(255,255,255,0.9);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 2em;
}