/* Sass mainController */
/* Variables */
/* Colors */
/* Mixins */
/* Center Translate */
/* Height and width */
/* Global Style Css */
body, html, .main, .container-fluid {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

/* Sass Components */
/* Header Style Css */
.header-login, .header-welcome {
  position: relative; }
.header-login .navbar-welcome, .header-login .navbar-login, .header-welcome .navbar-welcome, .header-welcome .navbar-login {
  position: relative;
  /* Navigation Menu */ }
.header-login .navbar-welcome nav, .header-login .navbar-login nav, .header-welcome .navbar-welcome nav, .header-welcome .navbar-login nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1; }

header {
  width: 100%;
  height: 100%; }

/* Style Welcome Page  */
/* Image Background */
.img-welcome {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
.img-welcome img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.main-content {
  width: 100%;
  height: 100%; }
.main-content .center-register {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.center-register {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.welcome-text {
  color: #ffffff; }

#form-login h2 {
  color: #ffffff;
  margin-bottom: 1em;
  text-shadow: 3px 3px 3px #000000; }

.form-register, .form-login {
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 2em; }

/* Style Css main User Page */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 320px;
  background-color: lightskyblue; }

.sidebar-img-box {
  position: relative;
  box-sizing: border-box;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  height: 180px; }
.sidebar-img-box img {
  width: 180px;
  height: 180px;
  object-fit: cover; }
.sidebar-img-box .change-img {
  position: absolute;
  bottom: 2%;
  left: 50%;
  -moz-transform: translate(-50%, -98%);
  -ms-transform: translate(-50%, -98%);
  -o-transform: translate(-50%, -98%);
  transform: translate(-50%, -98%);
  opacity: 1;
  color: white;
  z-index: 10;
  cursor: pointer; }

#profil-container {
  margin-left: 320px; }

/*# sourceMappingURL=main.css.map */
