@import "css/bootstrap.min.css";
@import "css/main.css";


th.day-month:nth-last-child(1)
{
    color:red;

}
table.calendar td {
    width: 14%;
    height: 80px;
}

table.calendar td:hover {
    background-color: orange;
}

table.calendar th.week-day:hover {
    background-color: white;
}

.today {
    background-color: orange;
}

.wyd {
    background-color: red;
}

.container-fluid {
    padding: 15px;
}


/*
#sidebar {
    visibility: hidden;
}
*/
