/* Mixins */

/* Center Translate */
@mixin centerTranslate {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Height and width */
@mixin hiWidth {
  width: 100%;
  height: 100%;
}